<form method = "POST" action = "/songs/<%= @song.slug %>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<p><label>Name:</label><input type = "text" id = "Name" name = "song_name" value = "<%=@song.name%>"></p>
<p><label>Artist Name:</label><input type = "text" id = "Artist Name" name = "artist_name" value = "<%=@song.artist.name%>"></p>
<p><label>Genres:</label></p>
<% Genre.all.each do |genre| %>
<input type = "checkbox" id = "<%= genre.name %>" name = "song[genres][]" value = "<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre)%>><%= genre.name %><br>
<% end %>
<br>
<input type = "submit" id = "Save" value = "Save">